<% content_for :javascripts do %>
  <%= javascript_pack_tag 'sessions' %>
<% end %>

<% content_for :central_column do %>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Welcome to SmartRails.</h5>
      <p>Please log in:</p>
      <%= bootstrap_form_tag url: '/login' do |f| %>
        <%= f.text_field :username, placeholder: 'Your username', label_class: "text-primary" %>
        <%= f.password_field :password, placeholder: 'Your password', label_class: "text-primary" %>
        <%= f.submit "Login"%>
        <input class="btn btn-primary" id="cancel" name="cancel" type="button" value="Cancel">
      <%end%>
    </div>
    <% if @errors %>
      <div class="container">
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
          <strong>Error</strong> Unknown user or wrong password.
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div>
    <% end %>
  </div>
<% end %>

<%= render "layouts/shared/threecolumns" %>





