<% content_for :content do %>
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <a class="navbar-brand" href="#">
      <%= image_tag "rails-512.png", :border => 0, :class => 'd-inline-block align-top', :size => '50x50' %>
    </a><h3 class="smartrails align-middle">SmartRails</h3>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <%= link_to "Home", { :controller => "home", :action => "home" }, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Services", { :controller => "home", :action => "services" }, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "About", { :controller => "home", :action => "about" }, class: "nav-link" %>
        </li>
        <% if logged_in? %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle currentuser"
             data-toggle="dropdown"
             href="#" role="button" aria-haspopup="true"
             aria-expanded="false"><%= current_user.username %></a>
          <div class="dropdown-menu">
            <%= link_to "Logout", { :controller => "sessions", :action => "logout" }, class: "dropdown-item" %>
          </div>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>

<!-- Page Content -->
<div class="container topspace">
  <%= yield :main_content %>
</div>
<!-- /.container -->

<!-- Footer -->
<footer class="py-5 bg-dark">
    <div class="m-0 text-center text-white">Copyright &copy; Alessio Saltarin 2021</div>
</footer>
<% end %>