<% content_for :content do %>
  <div class="jumbotron">
    <h1 class="display-4 text-primary">SmartRails</h1>
    <p class="lead">This is a Ruby on Rails v6.x template.</p>
    <hr class="my-4">
    <p>It uses Bootstrap v.4 for responsive rendering, SQLite as database and JQuery as JS library.</p>
    <% if logged_in? %>
      <p>You are logged in as <b><%= current_user.username %></b>.
      <%= link_to "Logout", { :controller => "sessions", :action => "logout" } %></p>
      <%= link_to "Home", { :controller => "home", :action => "home" }, class: "btn btn-primary btn-lg", "role" => "button" %>
    <% else %>
      <%= link_to "Login", { :controller => "sessions", :action => "new" }, class: "btn btn-primary btn-lg", "role" => "button" %>
      <%= link_to "Register", { :controller => "users", :action => "new" }, class: "btn btn-secondary btn-lg", "role" => "button" %>
    <% end %>
    <div class="caption text-primary">
      SmartRails v.<%= @app_version %> - Environment: <%= @environment %>
    </div>
  </div>
<% end %>

