<div class="m-4 p-5">
  <table class="table">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Part Number</th>
      <th scope="col">Description</th>
      <th scope="col">Last Update</th>
      <th scope="col">&nbsp;</th>
    </tr>
    </thead>
    <tbody>
    <% @items.each do |item| %>
      <tr data-controller="items" >
        <th data-items-target="id" scope="row"><%= item.id %></th>
        <td data-items-target="part"><%= item.part_number %></td>
        <td data-items-target="description"><%= item.description %></td>
        <td><%= item.updated_at %></td>
        <td>
          <button type="button" class="btn btn-light"
                  data-items-target="edit"
                  data-action="click->items#edit"
                  data-index="<%= item.id %>"><span class="bi bi-pencil"></span></button>
          &nbsp;
          <a href="/items/destroy?id=<%= item.id %>" class="btn btn-light"><span class="bi bi-x-circle"></span></a>
      </tr>
    <% end %>
    </tbody>
  </table>
  <% if @errors %>
    <div class="mb-3">
      <p>Error: cannot update item.</p>
    </div>
  <% end %>
  <div data-controller="items">
    <button data-action="click->items#newitem" class="btn btn-secondary">Add new item</button>
  </div>
</div>

<!-- Edit modal -->
<%= render "edititem" %>

