<h1>Profile</h1>

<%= form_with model: Current.user, url: settings_profile_path do |form| %>
  <% if form.object.errors.any? %>
    <div>Error: <%= form.object.errors.full_messages.first %></div>
  <% end %>

  <div>
    <b>Username:</b>
    <%= form.object.username %>
  </div>

  <div>
    <%= form.label :name %>
    <%= form.text_field :name, required: true, autocomplete: "given-name" %>
  </div>

  <div>
    <%= form.label :surname %>
    <%= form.text_field :surname, required: true, autocomplete: "family-name" %>
  </div>

  <div>
    <%= form.submit "Update profile" %>
  </div>
<% end %>

