<nav class="navbar is-primary has-shadow" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">

      <div class="navbar-item">
        <%= image_tag "smartrails.svg", alt: "SmartRails Logo", style: "max-height: 2rem;" %>
        <span class="has-text-weight-bold has-text-danger is-size-6">SmartRails</span>
      </div>

      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarlinks">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbarlinks" class="ml-6 navbar-menu">
      <div class="navbar-start">
        <%= link_to "Home", home_path, class: navbar_item_class("home") %>
        <%= link_to "About", about_path, class: navbar_item_class("about") %>
        <%= link_to "Contact", contact_path, class: navbar_item_class("contact") %>
      </div>

      <div class="navbar-end">
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link is-arrowless">
            <span class="icon is-medium">
              <i class="fas fa-user-circle fa-2x"></i>
            </span>
          </a>

          <div class="navbar-dropdown is-right">
            <% if authenticated? %>
              <%= link_to Current.user.username, settings_root_path, class: "navbar-item is-arrowless button is-white" %>
              <hr class="navbar-divider">
              <%= link_to "Sign Out", session_path, method: :delete, class: "navbar-item is-arrowless button is-white" %>
            <% else %>
              <%= link_to "Sign In", new_session_path, class: "navbar-item" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>

<script>
  document.addEventListener('turbo:load', () => {
    // Get all "navbar-burger" elements
    const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

    // Add a click event on each of them
    $navbarBurgers.forEach( el => {
      el.addEventListener('click', () => {

        // Get the target from the "data-target" attribute
        const target = el.dataset.target;
        const $target = document.getElementById(target);

        // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
        el.classList.toggle('is-active');
        $target.classList.toggle('is-active');

      });
    });
  });
</script>
